<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Title }}</title>

    {{ with resources.Get "../assets/css/critical-home.css" | minify }}
    <style>
        {{ .Content | safeCSS }}
    </style>
    {{ end }}
</head>
<body>
{{ partial "menu-home.html" . }}
<main>
    <div class="row">
        <h1 class="h-one">{{ .Params.main_heading | safeHTML }}</h1>
        <p class="text">{{ .Params.para_one | safeHTML }}</p>
        <p class="text">{{ .Params.para_two | safeHTML }}</p>
    </div>
</main>
</body>
</html>